.header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #3B5425;
    color:#3B5425;
    overflow-x: hidden;
    top: 0;
    left: 0;
  }
  
  .logo {
    display: flex;
    margin-left: 5rem;
    text-decoration: none;
    align-items: center;
    padding: 5px;
  }
  
  .logo-image {
    width: 3.5rem;
    height: 3.5rem;
  }
  
  .website-name {
    margin-left: 10px;
    font-size: 2.5rem;
    font-family: 'K2D', sans-serif;
    color: white;
    padding: 5px;
  }
  
  .navbar {
    display: flex;
    margin-left: auto;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'K2D', sans-serif;
    margin-left: 3rem;
    text-decoration: underline;
  }
  
  .user-controls {
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.5rem;
    font-family: 'K2D', sans-serif;
    padding: 5px;
  }
  
  .profile-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .username {
    margin-left: 5px;
    color: white;
  }
  
  .login-button {
    padding: 5px 10px;
    cursor: pointer;
  }
  