.results-column {
  width: 100%;  /* Note: inside the overlay, it should fill the container */
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  transition: transform 0.3s;
}

.results-column.minimized {
  transform: translateX(-100%);
}

.results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 10px;
  padding: 0.5rem;
}

.left-controls {
  display: flex;
  gap: 0.5rem;
}

.sort-button,
.view-button,
.minimize-button {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}

.results-list {
  flex: 1;
  overflow-y: auto;
}

.park-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.result-image img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 15%;
}

.result-info .park-name {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 0.2rem 0;
}

.result-info p {
  margin: 0.1rem 0;
}

.result-rating .star {
  font-size: 1.2rem;
  color: gold;
}
